body{
    background-image: url(konyv_hatter.jpg);
    background-size: 500px 500px;
    background-repeat: repeat;
}

#keret{
    background-color: #CA8;
    width: 720px;
    margin: auto;
    border:solid #ECA 1px;
}

.konyv{
    background-color: #ECA;

}

.borito{
    width: 120px;
    float: left;
}